*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}

/* GRID STYLES */

 /*.grid__container {
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

.grid__container > div {
    flex-basis: 100%;
    @media (min-width: 600px;) {
    margin: 20px;
    flex-basis: calc(33.333% - 40px);
    }
}

.grid__row {

}

.col-xs {

}

.col-sm {

}

.col-md {

}

.col-lg {

}

.col-xl {

} */

/* HEADER STYLES */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    border: 2px solid green;
}

/* Logo and description block styles */

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid blue;
}

.header__description {

}

/* Ligin block styles */

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid blue;
}

.login__icon {

}

.login__link {
    text-decoration: none;
}

/* Button block styles */

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid blue;
}

.button__text {

}

/* NAVIGATION STYLES */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid cyan;
}

menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid blue;
    list-style: none;
}

 .menu__link {
    text-decoration: none;
 }

 .menu__link--active {

 }

 .search-form {

 }

 .search-form__input {

 }

.search-form__icon {

}


/* CONTENT AND ARTICLE STYLES */

.content-wrapper {
    background-color: #f5f5f5;
}

.article {
    border: 2px solid orange;
}

.article__header {

}

.article__content {

}

.article__list {

}

.article__list__header {

}

.article__list__item {

}

/* RECENT STYLES */
 .recent {
    border: 2px solid magenta;
 }

.recent__header {

}

.recent__item {

}

.recent__img {

}

.recent__title {

}

/* FOOTER STYLES */
.footer {
    border: 2px solid yellow;
}

.footer__icon {

}

.footer__text {

}
