/* MOBILE FIRST VERSION */

*, *:before, *:after {
    box-sizing: border-box;
}

* {
  background-color: rgba(0,0,0,0.1);
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1448px;
    margin: 0 auto;
}

/* GRID STYLES */

 /*.grid__container {
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

.grid__container > div {
    flex-basis: 100%;
    @media (min-width: 600px;) {
    margin: 20px;
    flex-basis: calc(33.333% - 40px);
    }
}

.grid__row {

}

.col-xs {

}

.col-sm {

}

.col-md {

}

.col-lg {

}

.col-xl {

} */

/* HEADER STYLES */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* Logo and description block styles */

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.logo__title {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #eb3c00;
}

.logo__description {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #aaaaaa;
}

/* Ligin block styles */

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login__icon {
    font-size: 14px;
    color: #ee4400;
}

.login__link {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    color: #282828;
}

/* Button block styles */

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ee4400;
}

.button__text {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

/* NAVIGATION STYLES */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

 .menu__link {
    text-decoration: none;
 }

 .menu__link--active {

 }

 .search-form {
     width: 50%;

 }

 .search-form__input {

 }

.search-form__icon {

}


/* CONTENT AND ARTICLE STYLES */

.content-wrapper {
    background-color: #f5f5f5;
}

.article {
}

.article__header {

}

.article__content {

}

.article__list {

}

.article__list__header {

}

.article__list__item {

}

/* RECENT STYLES */
 .recent {

 }

.recent__header {

}

.recent__item {

}

.recent__img {

}

.recent__title {

}

/* FOOTER STYLES */
.footer {

}

.footer__icon {

}

.footer__text {

}
